.cookie-consent-root.svelte-8pd0rh.svelte-8pd0rh {
  font-size: 13px;
  line-height: 1.5;
}

.cookie-consent-root.svelte-8pd0rh a {
  color: rgb(13, 49, 143);
  text-decoration: none;
}

.cookie-consent-root.svelte-8pd0rh a:hover {
  text-decoration: underline;
}

.cookie-consent-root.svelte-8pd0rh h1 {
  font-size: 150%;
}

.cookie-consent-root.svelte-8pd0rh p {
  margin: 1em 0;
}

.cookie-consent-popup.svelte-8pd0rh.svelte-8pd0rh, .cookie-consent-settings-popup.svelte-8pd0rh.svelte-8pd0rh {
  position: fixed;
  z-index: 100000000;
  padding: 0.5em 1.5em;
  color: #333;
  background-color: white;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
}

.cookie-consent-popup.svelte-8pd0rh.svelte-8pd0rh {
  right: 0;
  bottom: 0;
  left: 0;
}

.cookie-consent-settings-popup.svelte-8pd0rh.svelte-8pd0rh {
  top: 0;
  bottom: 0;
  left: 0;
  max-width: 575px;
  overflow: auto;
}

.cookie-consent-actions.svelte-8pd0rh button, .cookie-consent-settings-actions.svelte-8pd0rh button, .cookie-consent-settings-choices-actions.svelte-8pd0rh button {
  display: inline-block;
  margin: 0;
  font-family: inherit;
  font-size: 100%;
  line-height: inherit;
  cursor: pointer;
  outline: none;
  appearance: none;
  padding: 0.25em 0.5em;
  color: #fff;
  background-color: rgb(13, 49, 143);
  border: 2px solid transparent;
}

.cookie-consent-actions.svelte-8pd0rh button:hover, .cookie-consent-settings-actions.svelte-8pd0rh button:hover, .cookie-consent-settings-choices-actions.svelte-8pd0rh button:hover {
  background-color: rgba(13, 49, 143, 0.8);
}

.cookie-consent-actions.svelte-8pd0rh.svelte-8pd0rh {
  text-align: right;
}

.cookie-consent-actions.svelte-8pd0rh .cookie-consent-settings-button.svelte-8pd0rh {
  color: rgb(13, 49, 143);
  background-color: #fff;
  border-color: rgb(13, 49, 143);
}

.cookie-consent-actions.svelte-8pd0rh .cookie-consent-settings-button.svelte-8pd0rh:hover {
  color: #fff;
  background-color: rgba(13, 49, 143, 0.8);
  border-color: transparent;
}

.cookie-consent-close.svelte-8pd0rh.svelte-8pd0rh, .cookie-consent-settings-close.svelte-8pd0rh.svelte-8pd0rh {
  display: inline-block;
  margin: 0;
  font-family: inherit;
  font-size: 100%;
  line-height: inherit;
  cursor: pointer;
  outline: none;
  appearance: none;
  display: inline;
  padding: 0;
  color: inherit;
  text-align: start;
  background-color: transparent;
  border: 0 none;
  float: right;
  padding: 0.5em;
  font-size: 150%;
}